<style>
    body {
  background: #acadac ;
   height: 100vh;
  color: white;
}


.container{
  position:absolute;
  width:80%;
  height:80%;
  display:  flex;
  align-items: center;
  justify-content: center;
}
.center{
  width:450px;
  height:200px;  
}

p {
  font: 1.5em Roboto;
}

a {
    color:white;
    font: 1.5em;
}
</style>

<div class="container">
  <div class="center">  
         <h2>ERROR 404:</h2>
          <p>Algo salio mal: pagina no encontrada</p>      
          <a href="/">Volver a principal</a>          
  </div>
</div>


