<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<style>
    ul li {
        line-height: 2rem;
    }
</style>
<nav>
    <ul>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/novedades">Novedades</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/otro">otro</a></li>
    </ul>
</nav>