<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<style>
    ul li {
        line-height: 2rem;
        list-style-type: none;
    }
* {
    font-size: 1.1rem;
}

</style>
<hr>
<nav>
    <ul>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/novedades">Novedades</a></li>
        <li><a href="/contacto">Contacto</a></li>
         <li><a href="/servicios">Servicios</a></li>
        <li><a href="/otro">otro (enlace que no fuinciona, error 404)</a> NOTA: Se coloca fondo gris y texto centrado al error 404</li>
    </ul>
</nav>