<h2>Hola soy la pagina de NOVEDADES</h2>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolorem architecto perferendis repellat id
    debitis obcaecati hic, vero consequuntur. Vitae ullam perferendis perspiciatis alias repudiandae adipisci laboriosam
    iure eveniet deserunt.</p>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolorem architecto perferendis repellat id
    debitis obcaecati hic, vero consequuntur. Vitae ullam perferendis perspiciatis alias repudiandae adipisci laboriosam
    iure eveniet deserunt.</p>
    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam dolorem architecto perferendis repellat id
    debitis obcaecati hic, vero consequuntur. Vitae ullam perferendis perspiciatis alias repudiandae adipisci laboriosam
    iure eveniet deserunt.</p>