/* Header */ 
footer {
    background-color: #c0f8d9;
    padding: 1em 0;
    margin-top: 3rem;
  }

  header {
    padding: 3rem ;   
    background-color: #F5F5F5;
    margin-bottom: 3rem;       
  } 